.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomePage {
  display: flex;
  min-height: calc(100vh - 50px);
  align-items: center;
  justify-content: center;

  color: white;
  background-image: url('../images/phone.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
}

.form {
  width: 320px;
}
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
